services:
    frontend:
        build:
            dockerfile: ./docker/dev.Dockerfile
        restart: "no"
        volumes:
            - ./packages/frontend:/srv/hullabaloo
            # Weird trick to exclude sub-folder
            # https://stackoverflow.com/a/37898591
            - /srv/hullabaloo/node_modules
        env_file: .env

    backend:
        build:
            dockerfile: ./docker/dev.Dockerfile
        restart: "no"
        volumes:
            - ./packages/backend:/srv/hullabaloo
            - ./node_modules:/srv/hullabaloo/node_modules
        env_file: .env