html {
    z-index: 0;
    position: relative;
    box-sizing: border-box;
}

html *,
html *::before,
html *::after {
    z-index: inherit;
    position: inherit;
    box-sizing: border-box;
}

#site-container {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content minmax(max-content, 1fr);
}